# JetBrains project files
.idea

# NPM
node_modules

# NativeScript application
hooks
platforms

app/**/*.js
!app/router/index.js

firebase/functions/lib
firebase/functions/src/shared
firebase/functions/src/**/*.js

# Android app signing keystore
keystore-footplr.jks