# JetBrains project files
.idea

# macOS crap
.DS_Store

# NPM
node_modules

# NativeScript application
hooks
platforms

app/**/*.js
!app/router/index.js

firebase/functions/lib
firebase/functions/src/shared
firebase/functions/src/**/*.js
firebase/functions/src/remove-bg-apikey.json

# Android app signing keystore
keystore-footplr.jks

# Firebase config files (download 'em from console.firebase.com)
app/App_Resources/Android/google-services.json
app/App_Resources/iOS/GoogleService-Info.plist

