<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>232924271603-nm4o97bsooqbkar89oe0da158oe1ne9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232924271603-nm4o97bsooqbkar89oe0da158oe1ne9e</string>
	<key>API_KEY</key>
	<string>AIzaSyBQNT7rc8t2FIbnasocPFlNO9SADM5mX84</string>
	<key>GCM_SENDER_ID</key>
	<string>232924271603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.footballplayerratings.app</string>
	<key>PROJECT_ID</key>
	<string>foorball-player-ratings</string>
	<key>STORAGE_BUCKET</key>
	<string>foorball-player-ratings.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232924271603:ios:c245637ec65e3b6d</string>
	<key>DATABASE_URL</key>
	<string>https://foorball-player-ratings.firebaseio.com</string>
</dict>
</plist>