// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/light';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

Page {
  /* font-family: "Source Sans Pro", SourceSansPro-Regular, system, sans-serif; */
  font-family: "Core Sans D 35 Regular", CoreSansD35Regular, system, sans-serif;
  //background-color: #998225;
  margin: 0;
  padding: 0;
  color: #20284d;
}

.bold {
  font-family: "Core Sans D 55 Bold", CoreSansD55Bold, system, sans-serif;
}

.listview-separator {
  border-bottom-width: 1px;
  border-bottom-color: #CBE3F0;
}

.table .row {
  padding: 5 0;
}

.table .row-odd {
  background-color: #f7f7f7;
}

.table .row-even {
  background-color: #fafafa;
}

.table Button {
  width: 34;
  height: 34;
  border-radius: 50%;
}

Button.btn {
  font-size: 11;
  padding: 12 ;
  border-radius: 3;
}

Button.btn-secondary {
  border-width: 2;
  border-color: #63d4a5;
  color: #63d4a5;
  margin: 24 8 24 16;
}

Button.btn-primary {
  font-family: "Core Sans D 55 Bold", CoreSansD55Bold, system, sans-serif;
  background-color: #63d4a5;
  color: #fff;
  margin: 24 16 24 8;
}

Button.button-close {
  border-width: 1;
  border-color: #63d4a5;
  color: #63d4a5;
  height: 50;
  width: 50;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
}

.c-bg-grey-lighter {
  background-color: #f3f3f3;
}

Slider {
  color: #63d4a5;
  background-color: #63d4a5;
}

.background-score-100 {
  background-color: #199e76;
}

.background-score-90 {
  background-color: #22d8a2;
}

.background-score-80 {
  background-color: #3649a9;
}

.background-score-70 {
  background-color: #4a63e7;
}

.background-score-60 {
  background-color: #1c70b7;
}

.background-score-50 {
  background-color: #2699fb;
}

.background-score-40 {
  background-color: #ffd684;
}

.background-score-30 {
  background-color: #ba9c61;
}

.background-score-20 {
  background-color: #f75454;
}

.background-score-10,
.background-score-0 {
  background-color: #b43e3e;
}

.background-score-undefined {
  background-color: #c9c9c9;
}
