// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/light';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

Page {
  /* font-family: "Source Sans Pro", SourceSansPro-Regular, system, sans-serif; */
  font-family: "Core Sans D 35 Regular", CoreSansD35Regular, system, sans-serif;
  //background-color: #998225;
  margin: 0;
  padding: 0;
  color: #011627;
}

.bold {
  font-family: "Core Sans D 55 Bold", CoreSansD55Bold, system, sans-serif;
}

.listview-separator {
  border-bottom-width: 1px;
  border-bottom-color: #CBE3F0;
}
